.nav_container {
  height: 60px;
  background-color: #202329;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar_logo {
  width: 30px;
  height: 30px;
}

.nav-links {
  display: none;
  
}

.nav-links li {
  margin: 0 25px 0 25px;
  font-weight: bold;
  cursor: pointer;
}
.nav-links_brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-links_brands div {
  margin-left: 25px;
}

.nav_container_wrapper {
  width: 100%;
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (min-width: 700px){
  .nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: white;
    margin: 0;
  }

  .nav_container_wrapper {
    padding: 0 4%;
  }
}